/* Declaración de variables globales */
:root {
    --colorUno: #FFFFFF;
    --colorDos: #00A8A8;
    --colorTres: #2FE5E4;
    --colorCuatro: #293A4E;
    --colorCinco: #000000;
    --fuentePrincipal: "Roboto", sans-serif;
    --fuenteSecundaria: "Lato", sans-serif;
}


/* Estilos generales para todo el documento HTML  */
html {
    background-color: var(--colorUno);
}

body{
    font-family: var(--fuentePrincipal);
}

.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}