:root {
    
    --colorPrimario: #ffffff;
    --colorSecundario: #6c63ff; 
    --colorResaltado: #d14d33; 
    --colorTexto: #333;

    /* Añadimos las fuentes y colores de estructura del equipo */
    --colorUno: #FFFFFF;
    --colorCuatro: #293A4E;
    --colorCinco: #000000;
    --fuentePrincipal: "Roboto", sans-serif;
    --fuenteSecundaria: "Lato", sans-serif;
}

/* --- 2. ESTILOS GENERALES --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--colorUno);
    font-size: 62.5%; /* Para que 1rem = 10px */
}

body {
    font-family: var(--fuentePrincipal);
    color: var(--colorTexto);
}


.container {
    max-width: 160rem;
    width: 95%;
    margin: 0 auto;
}

/* --- 3. NAVBAR --- */
.navbar {
    background-color: var(--colorUno);
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10rem;
    border-bottom: 1px solid #eee;
}

/* LOGO */
.navbar__brand {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.navbar__img {
    width: 8rem;
    height: auto;
}

.navbar__logo {
    font-size: 2.8rem;
    font-family: var(--fuenteSecundaria); /* Fuente Lato */
    font-weight: 900;
    text-transform: uppercase;
    color: var(--colorCinco);
}

.navbar__logo--primary {
    color: var(--colorSecundario); /* Mantenemos tu morado */
}

/* MENÚ */
.navbar__menu {
    display: flex;
    gap: 4rem;
    list-style: none;
}

.navbar__menu a {
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--colorCuatro);
    transition: color 0.3s ease;
}

.navbar__menu a.active {
    color: var(--colorResaltado); /* Mantenemos tu naranja */
}

.navbar__menu a:hover {
    color: var(--colorSecundario);
}

/* LOGIN */
.navbar__login {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar__login img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #ccc;
}

.navbar__login a {
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--colorCinco);
    font-weight: bold;
}

/* HERO */

.hero {
    background-color: #a9c7d6;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 8rem 5%;
    text-align: center;
    min-height: 500px;
}


.hero__text h2 {
    font-size: 6rem;
    letter-spacing: 2px;
    margin: 0;
}
.hero__text h3 {
    font-size: 4rem;
    letter-spacing: 2px;
    margin: 0;
}
.hero__text h4 {
    font-size: 8rem;
    font-weight: 900;
    line-height: 1;
    font-weight: bold;
}

.hero__img img {
    max-width: 450px;
    filter: drop-shadow(0 10px 20px rgba(0,0,0,0.2));
}
